@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@470&family=Roboto:wght@300&family=Saira+Condensed:wght@100&display=swap');
:root {
   --stroke: 490;
   --offset: 0;
   --thead: #223a79;
   --trFirst: #dee2e6;
   --trEven: #ced4da;
   --onHover: #20dacb;
   --circle-total-size: 25px;
   --circle-quarter: 12.5px;
   --circle-rating-color: #f07167;
   --circle-background-opacity: 0.8;
   --bg-color: #e9ecef;
}

* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

nav {
   width: 100%;
   align-self: center;
   background-color: var(--thead);
   color: white;
   font-size: 1.2rem;
}
nav > ul {
   display: flex;
   justify-content: flex-end;
}

nav > ul > li,
nav > ul > a {
   padding: 15px 30px;
   text-decoration: none;
   list-style-type: none;
   cursor: pointer;
   opacity: 0.7;
   color: white;
}
nav > ul > li:hover,
nav > ul > a:hover {
   opacity: 1;
}
body {
   background-color: var(--bg-color);
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Mono', monospace;
   font-weight: 600;
}

#main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#container {
   padding-top: 20px;
}

#user_dashboard {
   display: grid;
   grid-template-columns: 1fr 1fr 2fr;
   margin-top: 40px;
   padding: 30px 15px;
   border-top: 2px solid var(--thead);
   width: 1380px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#user_dashboard_info {
   display: flex;
   flex-direction: column;
   align-self: flex-start;
   justify-content: center;
   line-height: 1.5rem;
   font-size: 1.1rem;
   font-weight: 590;
}
#user_dashborad_info_avatar {
   font-size: 100px;
}

#user_dashboard_info_name {
   font-size: 1.4rem;
   font-weight: 1000;
   margin-top: 5px;
   margin-bottom: 10px;
}

#user_dashboard_reminders {
   display: flex;
   flex-direction: column;
   align-self: flex-start;
}

#user_dashboard_reminders_title {
   align-self: center;
   font-size: 1.3rem;
   margin-bottom: 15px;
}

#user_dashboard_reminders_line {
   color: var(--thead);
}

.user_dashboard_reminders_item {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 5px 15px;
   border-bottom: 1px solid rgb(143, 141, 141);
}
.user_dashboard_reminders_item:hover {
   cursor: pointer;
   opacity: 0.9;
}
.user_dashboard_reminders_item:last-child {
   border-bottom: none;
}
.user_dashboard_reminders_item:nth-child(2) {
   border-top: 1px solid rgb(143, 141, 141);
}

#user_dashboard_reminders_item_icon {
   font-size: 20px;
   margin-right: 12px;
}

#reminders_item_date {
   align-self: flex-start;
}

#user_dashboard_statistics {
   display: flex;
   flex-direction: row;
}

#user_dashboard_statistics_skill {
}

#user_dashboard_statistics_chart {
   width: 400px;
   height: 150px;
   margin-right: 40px;
}

.flex-row {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.flex-column {
   display: flex;
   flex-direction: column;
   width: 700px;
}

.green {
   color: green;
}

.red {
   color: red;
}

.fa-check,
.fa-xmark {
   font-size: 1.2rem;
}

i {
   font-size: 1.2rem;
}

.item {
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   margin: 20px 10px;
}

.item-empty {
   margin: 20px 10px;
   opacity: 0.7;
   height: 200px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.item-empty p {
   font-size: 20px;
   font-weight: 800;
}

.item-empty:hover {
   opacity: 0.9;
}
.item > table {
   width: 100%;
   border-collapse: collapse;
}

thead {
   background-color: var(--thead);
   color: white;
}

.thead_menu {
   background-color: #121839;
   opacity: 1;
   cursor: default;
   display: flex;
   justify-content: end;
}

.thead_menu > th > i {
   font-size: 1.2rem;
   padding: 0px 5px;
   cursor: pointer;
}

.thead_menu > th > i:hover {
   color: #20dacb;
}

th {
   font-size: 1.1rem;
   font-weight: 300;
   padding: 13px 10px;
}
th > input[type='text']::placeholder {
   color: white;
}
.th_name {
   width: 100%;
}

.th_name > input[type='text'] {
   width: 80%;
   padding: 5px 7px;
   border: none;
   font-size: 1.1rem;
   font-weight: 300;
   background-color: var(--thead);
   color: white;
   opacity: 0.8;
}
.th_name > input[type='text']:focus {
   border: none;
   opacity: 1;
}
.th_name_button {
   padding: 5px 12px;
   background-color: white;
   margin: 2px;
   color: black;
   border: none;
   font-size: 1.1rem;
   border-radius: 50px;
}

.th_name_button:hover {
   cursor: pointer;
   background-color: var(--onHover);
   color: white;
}

.thead_menu > th {
   display: flex;
   justify-content: space-between;
}

tbody > tr {
   background-color: var(--trFirst);
}

tbody > tr:nth-child(even) {
   background-color: var(--trEven);
}

td {
   padding: 20px 10px;
   position: relative;
   text-align: center;
}
.td_flex {
   display: flex;
   justify-content: center;
   align-items: center;
}

tr:hover {
   opacity: 1;
}

tr {
   border-bottom: 1px solid var(--thead);
   opacity: 0.8;
}

tr:last-child {
   border-bottom: none;
}

.login_input_text {
   padding: 10px 20px;
   background-color: red;
}

.badge {
   padding: 2px 9px 2px;
   font-weight: 580;
   white-space: nowrap;
   color: white;
   background-color: #70b9c5;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
}
.badge:hover {
   color: #ffffff;
   text-decoration: none;
   cursor: pointer;
}
.badge-error {
   background-color: #b94a48;
}
.badge-error:hover {
   background-color: #953b39;
}
.badge-warning {
   background-color: #f89406;
}
.badge-warning:hover {
   background-color: #c67605;
}
.badge-success {
   background-color: #5cc45e;
}
.badge-success:hover {
   background-color: #356635;
}
.badge-info {
   background-color: #3a87ad;
}
.badge-info:hover {
   background-color: #2d6987;
}
.badge-inverse {
   background-color: #333333;
}
.badge-inverse:hover {
   background-color: #1a1a1a;
}

.skill {
   position: relative;
}

.outer {
   height: 160px;
   width: 160px;
   border-radius: 50%;
   box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px 6px 10px -1px rgba(255, 255, 255, 1);
   display: flex;
   justify-content: center;
   align-items: center;
}

.inner {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 155px;
   width: 155px;
   border-radius: 50%;
   box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.25),
      0px 12px 10px -10px rgba(0, 0, 0, 0.1);
}

#number {
   font-weight: 600;
   font-size: 1.2rem;
}

circle {
   fill: none;
   stroke: green;
   stroke-width: 5px;
   stroke-dasharray: 490;
   stroke-dashoffset: 490;
   animation: anim 2s linear forwards;
}

svg {
   position: absolute;
   top: 0;
   left: 0;
   transform: rotate(-90deg);
}

@keyframes anim {
   100% {
      stroke-dashoffset: var(--offset);
   }
}

.dashboard_progresBar {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   margin-left: auto;
}

#circle_number {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   font-size: 20px;
   font-weight: 1000;
   color: #252627;
}

#circle {
   position: relative;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0%);
   width: var(--circle-total-size);
   height: var(--circle-total-size);
   border-radius: 50%;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#box_top_left {
   position: absolute;
   top: 0;
   left: 0;
   width: var(--circle-quarter);
   height: var(--circle-quarter);
   background: var(--circle-rating-color);
   border-top-left-radius: 100%;
   opacity: var(--circle-background-opacity);
}

#box_top_right {
   position: absolute;
   top: 0;
   right: 0;
   width: var(--circle-quarter);
   height: var(--circle-quarter);
   background: var(--circle-rating-color);
   border-top-right-radius: 100%;
   opacity: var(--circle-background-opacity);
}

#box_bot_left {
   position: absolute;
   bottom: 0;
   left: 0;
   width: var(--circle-quarter);
   height: var(--circle-quarter);
   background: var(--circle-rating-color);
   border-bottom-left-radius: 100%;
   opacity: var(--circle-background-opacity);
}

#box_bot_right {
   position: absolute;
   bottom: 0;
   right: 0;
   width: var(--circle-quarter);
   height: var(--circle-quarter);
   background: var(--circle-rating-color);
   border-bottom-right-radius: 100%;
   opacity: var(--circle-background-opacity);
}

.arrows_increase_decrease {
   position: absolute;
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
   gap: 0.3rem;
}

.arrow_up {
   margin: 3px;
   font-size: 1.4rem;
   line-height: 10rem;
}
.arrow_up:hover {
   cursor: pointer;
   color: green;
}
.arrow_down {
   margin: 3px;
   font-size: 1.4rem;
   line-height: 10rem;
}

.arrow_down:hover {
   cursor: pointer;
   color: red;
}

.inspect_calendar_icon {
   font-size: 1.4rem;
}

.inspect_calendar_icon:hover {
   cursor: pointer;
   color: var(--thead);
}

.planTrainBox {
   margin-top: 20px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.planTrainBox_date {
   background-color: var(--thead);
   padding: 15px;
   font-family: 'Roboto Mono', monospace;
   color: #ffffff;
   font-size: 18px;
   border: none;
   outline: none;
   border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
   background-color: #ffffff;
   padding: 5px;
   cursor: pointer;
   border-radius: 3px;
}

#display_none {
   display: none;
}

#login_view {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 30px 30px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#login_view_title {
   font-size: 1.7rem;
   margin-bottom: 70px;
}

.login_input_text {
   margin-bottom: 40px;
   padding: 15px 15px;
   width: 400px;
   font-size: 1.2rem;
   background-color: #fff;
}

.login_view_flex_row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.login_view_button {
   padding: 10px 15px;
   cursor: pointer;
   min-width: 100px;
   font-size: 1.2rem;
   background-color: var(--thead);
   color: white;
   border: none;
   text-transform: uppercase;
   opacity: 0.9;
}
.login_view_button:hover {
   opacity: 1;
}

.login_view_link {
   font-size: 13.5px;
   text-decoration: none;
   color: var(--thead);
}

#login_view_terms_container {
   cursor: pointer;
   border: 1px dotted var(--thead);
   padding: 2px 5px;
}

input[type='checkbox'] {
   cursor: pointer;
}

.tree_workplace_list {
   width: 100%;
}

.tree_dashboard {
   display: flex;
   margin-top: 40px;
   padding: 30px 15px;
   border-top: 2px solid var(--thead);
   width: 800px;
   gap: 50px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.tree_dashboard_ul_item {
   display: flex;
   border: 1px solid black;
   justify-content: space-between;
   padding-right: 3px;
   align-items: center;
}

.tree_dashboard_ul_item_new {
   margin-top: 10px;
}
.tree_delete_icon {
   cursor: pointer;
   color: red;
   opacity: 0.6;
}

.tree_delete_icon:hover {
   cursor: pointer;
   color: red;
   opacity: 1;
}

.tree_dash_icon {
   font-size: 1.7rem;
   padding: 0px 5px;
   cursor: pointer;
   color: green;
   opacity: 0.8;
}

.tree_dash_icon:hover {
   opacity: 1;
}

.treeWrapper {
   padding: 20px;
}

.treeUlDepartments {
   text-decoration: none;
   list-style-type: none;
   display: flex;
   flex-direction: column;
   flex-flow: column wrap;
}

.tree_dashboard_ul_button {
   width: 100%;
   padding: 5px 12px;
   cursor: pointer;
   margin-top: 10px;
}

.treeUlDepartments > div > li {
   margin-right: 20px;
   padding: 10px 15px;
   cursor: pointer;
   opacity: 0.6;
}
.treeUlDepartments > div > li:hover {
   opacity: 1;
}

.tree_dashboard_ul_item_input {
   border: none;
   width: 100%;
   padding: 5px 12px;
}

.tree_dashboard_workplace_input {
   padding: 10px 10px;
   width: 100%;
}

.tree_competence_close_icon {
   padding: 3px 4px 0px 0px;
   position: relative;
   top: 4px;
   right: 4px;
   transform: translate(60%, -60%);
   margin-left: 20px;
}

.tree_competence_close_icon:hover {
   cursor: pointer;
   color: red;
}

.tree_dashboard_workplace_close_icon {
   padding: 3px 4px 0px 0px;
   position: relative;
   top: 4px;
   right: 4px;
   transform: translate(20%, 80%);
   float: right;
}

.tree_dashboard_workplace_close_icon:hover {
   cursor: pointer;
   color: red;
}

.tree_dashboard_workplace_select {
   padding: 7px 14px;
   margin-bottom: 5px;
   width: 100%;
}

.competence_list_group_item_container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.competence_list_group_item_input {
   padding: 2px 5px;
   font-size: 1.1rem;
   font-weight: 300;
}

.competence_list_group_item_buttonSave {
   padding: 5px 5px;
   margin-left: 5px;
}
.competence_list_group_item_buttonSave:hover {
   background-color: var(--thead);
   cursor: pointer;
   color: white;
   border-color: var(--thead);
}

.alert_container {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -80%);
}

.alert {
   border: 1px solid red;
   padding: 4px 20px;
   list-style-type: none;
   min-width: 400px;
}

.alert > i {
   margin-right: 15px;
   color: red;
}

.boxMidCard {
   position: fixed;
   z-index: 1;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 450px;
   max-height: 800px;
   background-color: #e9ecef;
   min-height: 200px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   padding: 13px 30px;
   overflow: scroll;
}

.boxMidCard_topBar {
   display: flex;
}

.boxMidCard_topBarTitle {
   width: 100%;
   font-size: 1.4rem;
   padding-right: 40px;
}

.boxMidCard_topBarIcon {
   font-size: 1.6rem;
   cursor: pointer;
}
.boxMidCard_topBarIcon:hover {
   color: red;
}

.blur {
   position: fixed;
   width: 100%;
   height: 100%;
   opacity: 0.6;
   background-color: black;
}

.BMCard_competenceContainer {
   width: 700px;
   font-size: 0.85rem;
}

.BMCard_competenceTitle {
   margin: 0 auto;
}
.BMCard_competenceInfo {
   font-size: 0.7rem;
   padding-top: 100px;
}

.BMCard_competenceContainer {
   display: flex;
   justify-content: space-between;
}

.BMCard_competenceContainer > ul {
   list-style: none;
}

.cursor_pointer {
   cursor: pointer;
}

.users {
   display: flex;
   flex-direction: column;
   gap: 50px;
   justify-content: center;
   align-items: center;
}

.users_title {
   margin-top: 2rem;
   font-size: 3rem;
}

.users_search_container {
   display: flex;
}

.users_search_input {
   width: 625px;
   padding: 10px 15px;
   font-size: 1.5rem;
}

.user_search_input_icon {
   position: relative;
   top: 0;
   left: 0;
   transform: translate(-160%, 25%);
   font-size: 1.6rem;
}

.users_list_container {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 1rem;
}

.users_list_item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   padding: 30px 20px 20px 20px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.users_list_item:hover {
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.users_list_item_icon {
   font-size: 4rem;
}

.users_list_item_name {
   font-size: 1.4rem;
}

.users_list_item_button {
   margin-top: 15px;
   padding: 5px 17px;
   border: none;
   background-color: var(--thead);
   color: white;
   cursor: pointer;
}

.userInspect_edit_container {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   margin-top: 40px;
   margin-bottom: 40px;
}

#calendar_container {
   width: 1120px;
   margin-top: 50px;
}
#calendar_container > hr {
   border-top: none;
   border-left: none;
   border-right: none;
   border-color: var(--thead);
}

.calendar_button {
   margin-right: 2.5px;
   margin-left: 2.5px;
   width: 75px;
   cursor: pointer;
   box-shadow: 0px 0px 2px gray;
   border: none;
   outline: none;
   padding: 5px;
   border-radius: 5px;
   color: white;
}

#calendar_header {
   padding: 10px;
   margin-bottom: 30px;
   color: var(--thead);
   font-size: 26px;
   font-family: sans-serif;
   display: flex;
   justify-content: space-between;
}
#calendar_header button {
   margin-left: 10px;
   font-size: 1.1rem;
}
#weekdays {
   width: 100%;
   display: flex;
}
#weekdays div {
   color: var(--thead);
   font-size: 0.95rem;
   width: 165px;
   padding: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#calendar {
   width: 100%;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
}
.day {
   width: 150px;
   padding: 10px;
   height: 105px;
   cursor: pointer;
   box-sizing: border-box;
   background-color: white;
   margin: 5px;
   box-shadow: 0px 0px 3px #cbd4c2;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.day:hover {
   background-color: #e8faed;
}

.currentDay {
   font-size: 1.6rem;
   font-weight: bolder;
   color: var(--thead);
   background-color: #e8f4fa;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.eventList {
   max-width: 600px;
   margin-top: 30px;
}

.event {
   font-size: 0.7rem;
   font-weight: 100;
   padding: 2px;
   background-color: var(--thead);
   color: white;
   margin-bottom: 5px;
   overflow: hidden;
}

.eventBox {
   font-size: 1.2rem;
   font-weight: 50;
   padding: 5px;
   background-color: var(--thead);
   color: white;
   margin-top: 5px;
   overflow: hidden;
}

.eventTrainer {
   background-color: red;
}

.paddingDay {
   cursor: default !important;
   background-color: var(--bg-color) !important;
   box-shadow: none !important;
}
#newEventModal,
#deleteEventModal {
   z-index: 20;
   padding: 25px;
   background-color: #e8f4fa;
   box-shadow: 0px 0px 3px black;
   border-radius: 5px;
   width: 350px;
   top: 100px;
   left: calc(50% - 175px);
   position: absolute;
   font-family: sans-serif;
}
#eventTitleInput {
   padding: 10px;
   width: 100%;
   box-sizing: border-box;
   margin-bottom: 25px;
   border-radius: 3px;
   outline: none;
   border: none;
   box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
   border: 2px solid red;
}
#cancelButton,
#deleteButton {
   background-color: #d36c6c;
}
#saveButton,
#closeButton {
   background-color: #92a1d1;
}
#eventText {
   font-size: 14px;
}
#modalBackDrop {
   top: 0px;
   left: 0px;
   z-index: 10;
   width: 100vw;
   height: 100vh;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1400px) {
   .flex-row {
      grid-template-columns: 1fr;
   }

   #user_dashboard {
      grid-template-columns: 300px 360px;
      width: 690px;
   }

   nav > ul {
      justify-content: center;
   }

   .users_list_container {
      grid-template-columns: repeat(3, 1fr);
   }
}
